.desktop {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  position: absolute;
}

.desktop .navbar {
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.desktop .frame {
  display: flex;
  align-items: flex-start;
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
  align-self: stretch;
}

.desktop .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  padding: 31px;
  flex: 1 1 400px;
  position: relative;
  align-self: stretch;
}

.desktop .group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: stretch;
  object-fit: cover;
  aspect-ratio: 5/6;
  background-color: #e6f7ff;
}

.desktop .media-image {
  position: absolute;
  width: 105px;
  height: 106px;
}

.desktop .frame-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 6px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .button-btn-primary {
  display: flex;
  flex-direction: column;
  width: 221px;
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: 15px 36px;
  position: relative;
  border-radius: 37px;
  overflow: hidden;
  border: 3px solid;
  border-color: #23a6f0;
}

.desktop .btn-text {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #23a6f0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 22px;
  white-space: nowrap;
}

.desktop .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 31px 31px 31px 0px;
  flex: 2 2 60%;
  position: relative;
  align-self: stretch;
}

.desktop .frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.desktop .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  height: 26px;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 22px;
  white-space: nowrap;
}

.desktop .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.desktop .frame-5 {
  flex: 1 1 100%;
  overflow-y: scroll;
  position: relative;
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 3rem 1rem;
}

.desktop .frame-6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 16px;
  position: relative;
}

.desktop .media-image-wrapper {
  position: relative;
  align-self: stretch;
  background-color: #e6f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  aspect-ratio: 5/6;
}

.desktop .img {
  position: absolute;
  width: 56px;
  height: 56px;
}

.desktop .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.dz{
  border: dashed;
  border-color:#23a6f0 !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  padding: 31px;
  flex: 1 1 400px;
  position: relative;
  align-self: stretch;
}
.dz:hover{
  background-color: #e6f7ff;
}
.dz-message{
  position: relative;
  align-self: stretch;
  height: 26px;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 22px;
  white-space: nowrap;
}
