:root {
  --light-blue: #e6f7ff;
  --blue: #23a6f0;
  --text-font-family: "Montserrat-Regular", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 14px;
  --text-letter-spacing: 0.2px;
  --text-line-height: normal;
  --text-font-style: normal;
}
