:root {
  --light-blue: rgba(230, 247, 255, 1);
  --blue: rgba(35, 166, 240, 1);
  --text-font-family: "Montserrat-Regular", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 14px;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --text-font-style: normal;
}
