{% extends "for20/base.html" %}
{% load static %}
{%block main_content %}
<div class="frame">
  <div class="div">
    {% comment %} {% if search_image %} {% endcomment %}
    <form action ="/upload/" method="POST" class="dropzone dz">
      {% csrf_token %}
      <div class = "fallback">
        <input name ="file" type="file" multiple/>
      </div>
      <div class="dz-message" data-dz-message><span>Drop file here to upload</span></div>
    </form>
    {% comment %} {% endif %} {% endcomment %}
  </div>
  <div class="frame-3">
    <div class="frame-4">
      <div class="text-wrapper-2">Search results</div>
      <img class="line" src="{% static 'img/line-1.svg' %}" />
    </div>
    <div class="frame-5">
      <div class="frame-6">
        <img class="media-image-wrapper" src="{% static 'img/products/somitrang.jpeg' %}" />
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        {% comment %} <div class="media-image-wrapper"><img src="{%static 'img/products/somitrang.jpeg' %}" /></div> {% endcomment %}
        <img class="media-image-wrapper" src="{% static 'img/products/somitrang.jpeg' %}" />
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-8.svg' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-5.svg' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-5.svg' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-5.svg' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-2.png' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-2.png' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
      <div class="frame-6">
        <div class="media-image-wrapper"><img class="img" src="{% static 'img/media-image-02-2.png' %}" /></div>
        <div class="text-wrapper-3">Brand:</div>
        <div class="text-wrapper-3">Material:</div>
      </div>
    </div>
  </div>
</div>
{%endblock main_content%}