{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forever20</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/globals.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/styleguide.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <!--Dropzone js css-->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="desktop">
      <div id="navbar">
        <a href="/">
          <img src="{% static 'img/navbar.png' %}" alt="navbar image version"/>
        </a>
      </div>
      <div id="content">
        {% block main_content %}{% endblock main_content %}
      </div>
    </div>
  </body>
</html>
